<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.channel_auth_endpoint = "{{ actionUrl('whosAround/authenticate') }}";
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('{{ apiKey }}');
    var channel = pusher.subscribe('{{ channelName }}');
    channel.bind('my_event', function(data) {
      console.log(data.message, channel.members.count);
    });
  </script>